body {
  font-family: 'Courier New', Courier, monospace;
  display: inline;
  padding: auto;
  margin: auto;
  justify-content: center;
}
#main-header { 
  text-align: center; 
  display: flex;
  justify-content: center;
}

header {
  background-color: #800080;
}

h1 #sparkle-text { 
  display: flex;
  justify-content: center;
  font-size: 3rem; 
  font-weight: bold; 
  background: linear-gradient(120deg, #ff007f 0%, #ff007f 40%, #ffffff 50%, #ff007f 60%, #ff007f 100%); 
  background-size: 200% auto; 
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  color: transparent; 
  animation: sparkleMove 2.5s linear infinite; 
}

#meet-asha ul {
    list-style-type: '♥ '; 
    justify-content: center;
  }

#meet-asha ul:hover {
  text-transform: uppercase;
}

ul ol li {
    margin-bottom: 0.5rem; 
}

.title {
    font-size: 1.5rem;
    color: #332c0675;
    text-align: center;
    margin-top: 1.25rem;
}

div:has(h2) {
    background-color: #f0f0f0;
    padding: .0625rem;
    border-radius: .03125rem;
}

.parent ol {
    font-style: italic;
    background-color:#ff007f;
    padding: .062625rem;
    border-radius: .03125rem;
}

.btn-primary{
    background-color: #93f403;
}

@keyframes sparkleMove {
  0% { background-position: 0% center; }
  100% { background-position: -200% center; }
}

/*flex box add to be commented out until added to its own page  
#memes-content {
  display: ;
}
*/
#memes-content {
  border: 1px solid #ccc;
  padding: 1rem;
}
#memes-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  
}
#memes-gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 
#memes-gallery img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  transform: translateY(-8px) scale(1.03); 
  
  /* 2. Create the outer glowing boundary */
  box-shadow: 0 0 20px 5px rgba(0, 212, 255, 0.6),  /* Soft bright aura */
              0 0 40px 10px rgba(0, 212, 255, 0.3);
}
}